.bridge-row, .bridge-row-wrap {
  display: flex;
  align-items: center;
  flex-direction: row; }

.bridge-row-wrap {
  flex-wrap: wrap; }

.bridge-column, .bridge-column-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }

.bridge-column-wrap {
  flex-wrap: wrap; }

/**
 * Widget Classes
 */
/* TOGGLE SWITCH
 * -----------------------------
 *
 * A widget that returns true or false
 */
.bridge-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px; }
  .bridge-switch__checkbox input {
    opacity: 0;
    height: 0;
    width: 0; }
